@model Vidly.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>


@if (Model.Customers.Count == 0)
{
    <p>We do not have any customers yet</p>
}
else
{
    <table class="table table-bordered table-hover">
        <tr>
            <th>Customers</th>
        </tr>
        <tr>
            <td>@Html.ActionLink("Kevin Maciel", "Details", "Customers", new { id = 1 }, null)</td>

        </tr>
        <tr>
            <td>@Html.ActionLink("Nicolas Molina", "Details", "Customers", new { id = 2 }, null)</td>
        </tr>
    </table>
}





